.section_book {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_book p {
    color: #abe4dc;
    font-weight: bold;
}

.book_container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 20px 20px 20px;
}